Repository zeybek/camouflage: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write

chore(release): 1.3.0 [skip ci]
  CHANGELOG.md
  package.json
Due: prettier --write

Notes added by 'git notes add'
  5627e21d8048a62f349545aef75c92944e89554a
Due: none

fix(parsers): hide all duplicate key occurrences in JSON
  package-lock.json
  src/parsers/json-parser.ts
Due: eslint --fix, prettier --write

fix(parsers): hide all duplicate key occurrences in JSON (#17)
  package-lock.json
  src/parsers/json-parser.ts
Due: eslint --fix, prettier --write

chore(release): 1.3.1 [skip ci]
  CHANGELOG.md
  package.json
Due: prettier --write

Notes added by 'git notes add'
  91d0c95f4d11f6aaf4a880e6a47558a38afc8ac7
Due: none

ci(codacy): exclude tests, mocks and example fixtures from analysis
  .codacy.yml
  src/parsers/yaml-parser.ts
Due: eslint --fix, prettier --write

chore(release): 1.4.0 [skip ci]
  CHANGELOG.md
  package.json
Due: prettier --write

Notes added by 'git notes add'
  47f3d02f92a867835d2219fded3756b15c257823
Due: none

Path conditions:
  eslint --fix: any of: *.{ts,js}
  prettier --write: (any of: *.{ts,js}) or (any of: *.{json,md,yml,yaml})
