Repository zeybek/camouflage: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write

.lintstagedrc.json:

{
  "*.{ts,js}": ["eslint --fix", "prettier --write"],
  "*.{json,md,yml,yaml}": ["prettier --write"]
}

chore(release): 1.0.0 [skip ci]
  CHANGELOG.md
  package.json
Due: prettier --write

Notes added by 'git notes add'
  81db40c5a53b7a165448fdf26d14699384fd9023
Due: none

feat: add password protection and security features to Camouflage
  .releaserc.json
  package.json
  src/core/camouflage.ts
  src/extension.ts
  src/security/__tests__/password-manager.test.ts
  src/security/password-manager.ts
  src/utils/__tests__/config.test.ts
  src/utils/config.ts
Due: eslint --fix, prettier --write

docs: update README with password protection details and features
  README.md
Due: prettier --write

feat: use bcrypt
  package.json
  src/security/password-manager.ts
Due: eslint --fix, prettier --write

fix: tests
  package-lock.json
  package.json
  src/security/__tests__/password-manager.test.ts
  src/security/password-manager.ts
Due: eslint --fix, prettier --write

feat: add new camouflage styles and enhance appearance configuration
  README.md
  package.json
  src/core/camouflage.ts
  src/core/types.ts
  src/extension.ts
  src/lib/__tests__/text-generator.test.ts
  src/lib/text-generator.ts
  src/utils/__tests__/config.test.ts
  src/utils/config.ts
Due: eslint --fix, prettier --write

feat: add new camouflage styles and enhance appearance configuration (#2)
  README.md
  package.json
  src/core/camouflage.ts
  src/core/types.ts
  src/extension.ts
  src/lib/__tests__/text-generator.test.ts
  src/lib/text-generator.ts
  src/utils/__tests__/config.test.ts
  src/utils/config.ts
Due: eslint --fix, prettier --write

fix: commitlint
  .commitlintrc.json
Due: prettier --write

fix: update scrambled text example in README
  README.md
Due: prettier --write

fix: update scrambled text example in README (#3)
  README.md
Due: prettier --write

chore(release): 1.1.0 [skip ci]
  CHANGELOG.md
  package.json
Due: prettier --write

Notes added by 'git notes add'
  e23f9d3ae1968d3cf4dc595546ccd2022bdf7252
Due: none

refactor: replace ENV_VAR_REGEX with findEnvVariables for safer environment variable handling
  .env
  src/core/camouflage.ts
  src/utils/__tests__/file.test.ts
  src/utils/file.ts
Due: eslint --fix, prettier --write

refactor: replace ENV_VAR_REGEX with findEnvVariables for safer environment variable handling (#4)
  .env
  src/core/camouflage.ts
  src/utils/__tests__/file.test.ts
  src/utils/file.ts
Due: eslint --fix, prettier --write

fix: hide commented env vars
  package-lock.json
  package.json
  src/core/camouflage.ts
  src/extension.ts
  src/utils/__tests__/file.test.ts
  src/utils/__tests__/pattern-matcher.test.ts
  src/utils/file.ts
  src/utils/pattern-matcher.ts
  tsconfig.json
Due: eslint --fix, prettier --write

test: enhance text-generator and pattern-matcher tests with edge cases
  src/lib/__tests__/text-generator.test.ts
  src/utils/__tests__/pattern-matcher.test.ts
Due: eslint --fix, prettier --write

fix: hide commented env vars (#7)
  package-lock.json
  package.json
  src/core/camouflage.ts
  src/extension.ts
  src/lib/__tests__/text-generator.test.ts
  src/utils/__tests__/file.test.ts
  src/utils/__tests__/pattern-matcher.test.ts
  src/utils/file.ts
  src/utils/pattern-matcher.ts
  tsconfig.json
Due: eslint --fix, prettier --write

chore(release): 1.1.1 [skip ci]
  CHANGELOG.md
  package.json
Due: prettier --write

Notes added by 'git notes add'
  40ea67ab20eee2f271c57bfd929a5e9946c23172
Due: none

feat: add multi-format support for PHP, YAML, and custom file patterns
  README.md
  package-lock.json
  package.json
  src/utils/__tests__/file.test.ts
  src/utils/file.ts
Due: eslint --fix, prettier --write

fix(core): apply decorations instantly to prevent flashing
  .cursor/rules/ai-guidelines.mdc
  .cursor/rules/architecture.mdc
  .cursor/rules/coding-standards.mdc
  .cursor/rules/git-workflow.mdc
  .cursor/rules/patterns.mdc
  .cursor/rules/project-overview.mdc
  .cursor/rules/quick-reference.mdc
  .cursor/rules/security.mdc
  .cursor/rules/testing.mdc
  .cursor/rules/vscode-extension.mdc
  examples/.env
  src/core/camouflage.ts
Due: eslint --fix, prettier --write

chore(release): 1.1.2 [skip ci]
  CHANGELOG.md
  package.json
Due: prettier --write

Notes added by 'git notes add'
  2d7e932fd6279610815238f44bef8e0f3a9ef953
Due: none

test: fix tests
  src/parsers/__tests__/env-parser.test.ts
  src/parsers/__tests__/json-parser.test.ts
  src/parsers/__tests__/parser-registry.test.ts
  src/parsers/__tests__/properties-parser.test.ts
  src/parsers/__tests__/toml-parser.test.ts
  src/parsers/__tests__/yaml-parser.test.ts
  src/parsers/yaml-parser.ts
  src/utils/__tests__/config.test.ts
  src/utils/__tests__/file.test.ts
Due: eslint --fix, prettier --write

chore(release): 1.2.0 [skip ci]
  CHANGELOG.md
  package.json
Due: prettier --write

Notes added by 'git notes add'
  b049e02e6cd0b11e1a8d70053f5a838f5e5255d3
Due: none

fix: minimize secret flashing on file open (#11, #12)
  package-lock.json
  src/core/camouflage.ts
Due: eslint --fix, prettier --write

fix: minimize secret flashing on file open (#11, #12) (#13)
  package-lock.json
  src/core/camouflage.ts
Due: eslint --fix, prettier --write

chore(release): 1.2.1 [skip ci]
  CHANGELOG.md
  package.json
Due: prettier --write

Notes added by 'git notes add'
  3480a767b8f9302c430e678262770bf26ca28924
Due: none

feat(core): add double-click to edit secret via InputBox
  package-lock.json
  package.json
  src/__mocks__/vscode.ts
  src/extension.ts
  src/utils/__tests__/config.test.ts
  src/utils/config.ts
Due: eslint --fix, prettier --write

docs: add AGENTS.md for agentic coding assistants
  AGENTS.md
Due: prettier --write

fix(tests): replace any with void in vscode mock listener types
  src/__mocks__/vscode.ts
Due: eslint --fix, prettier --write

feat(core): add double-click to edit secret via InputBox (#15)
  AGENTS.md
  package-lock.json
  package.json
  src/__mocks__/vscode.ts
  src/extension.ts
  src/utils/__tests__/config.test.ts
  src/utils/config.ts
Due: eslint --fix, prettier --write
